<template name="appLayout">
	<div class="mdl-layout mdl-js-layout carebuddy login bg-img">
		<main class="mdl-layout__content">
			<div class="page-content">
				{{#if authInProcess}}
					Loading...
				{{else}}
					{{> siteTitle}}
					{{> Template.dynamic template=template}}
				{{/if}}
			</div>
		</main>
	</div>
	{{> Template.dynamic template=dialog}}
	{{> toast}}
	{{> meteorStatus style=true lang='en' position='top' overlay=true}}
</template>