<template name="emergency">
	<div class="emergency">
		<div class="body-blank">
			<a href="#"><img class="emer" src="/images/emergency-btn.png"></a>
			<h5>We have a medical emergency</h5>
			<p>You are listed as a contact on their carebuddy account, and they have enabled notification for you in case of an emergency</p>
			<p>Press the button to send sms and email notification to your family members.</p>
		</div>	
	</div>
</template>