<template name="home">
	{{#if Template.subscriptionsReady}}
	<div class="chat bg-img">
		{{#each messages}}
		<div class="chat-msg {{#if equals userId}}user-msg right-align{{else}}left-align{{/if}}">
			{{#if textType type 'text'}}
			<div class="msg mdl-shadow--8dp">
				<p>{{text}}</p>
				<small class="right">{{formatTime timestamp}}</small>
			</div>
			{{else}}
			<div class="chat-msg chat-img {{#if equals userId}}user-msg right-align{{else}}left-align{{/if}}">
				<div class="msg mdl-shadow--8dp">
					<img style="width: 100%;" class="responsive-img" src="{{image}}">
					<small class="right">{{formatTime timestamp}}</small>
				</div>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</div>
	<footer>
		<i id="camera" class="material-icons">camera</i>
		<input name="message" type="text">
		<i id="submit" class="material-icons right">send</i>
	</footer>
	{{else}}
	Loading...
	{{/if}}
</template>