<template name="records">
	{{#if Template.subscriptionsReady}}
	<div class="records">
		<div class="record-added">
			<ul class="collapsible popout" data-collapsible="accordion">
				{{#each records}}
				{{#if equals type 'value'}}
				<li class="drop-list">
					<div class="drop-head">
						<img src="/images/medical-appointment.png">
						<label>
							<h5>Records<span>({{type}})</span></h5>
							<h6>{{formatTime createdAt}}</h6><i class="material-icons right">keyboard_arrow_down</i>
						</label>
					</div>

					<div class="drop-body">
						<table class="striped">
							<tr>
								<th>Vital signs<span>:</span></th>
								<td>{{signs}}</td>
							</tr>
							<tr>
								<th>Value<span>:</span></th>
								<td>{{values}}</td>
							</tr>
							<tr>
								<th>Measurement<span>:</span></th>
								<td>{{measurement}}</td>
							</tr>
							<tr>
								<th>Date<span>:</span></th>
								<td>{{date}}</td>
							</tr>
							<tr>
								<th>Comments<span>:</span></th>
								<td>{{comments}}</td>
							</tr>
						</table>
					</div>
				</li>
				{{else}}
				<li class="drop-list">
					<div class="drop-head">
						<img src="/images/medical-appointment.png">
						<label>
							<h5>Records<span>({{type}})</span></h5>
							<h6>{{createdAt}}</h6><i class="material-icons right">keyboard_arrow_down</i>
						</label>
					</div>
					<div class="drop-body">
						<div class="row">
							<div class="col s3">
								<div class="added-img added-record-img">
									<img class="responsive-img" src="{{url}}" alt="">
								</div>
							</div>
							<div class="col s9">
								<table class="striped">
									<tr>
										<th>Record type<span>:</span></th>
										<td>{{record}}</td>
									</tr>
									<tr>
										<th>Date<span>:</span></th>
										<td>{{date}}</td>
									</tr>
									<tr>
										<th>Comments<span>:</span></th>
										<td>{{comments}}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</li>
				{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
	{{else}}
	<p>Loading...</p>
	{{/if}}
</template>