<template name="login">
	<form id="login-form">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<i class="material-icons">phone</i>
			<input class="mdl-textfield__input" type="tel" id="phone" name="username">
			<label class="mdl-textfield__label button--icon" for="username">Phone Number</label>
			<span class="mdl-textfield__error">Input is not a number!</span>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<i class="material-icons">lock</i>
			<input class="mdl-textfield__input" type="password" name="password">
			<label class="mdl-textfield__label" for="password">Password</label>
			<span class="mdl-textfield__error">Password is not valid!</span>
		</div>
		<a href="/forgot-password" class="forgot-password">Forgot password</a>
		<input type="submit" value="Login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
	</form>
	<a href="/register">Don't have an Account? Create One</a>
</template>