#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: #0B5F0E;  
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;  
	width: 100%;
	height: 2px;
}

#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #0B5F0E, 0 0 5px #0B5F0E;
	opacity: 1.0;  
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

textarea.materialize-textarea {
    padding: 0.6rem 0;
}

