<template name="editProfile">
	<dialog id="editProfile" class="mdl-dialog modal-full-screen modal-fix">
		<div class="profile">
			<div class="profile-edit">
				<div class="header-close">
					<a href="#"><i class="material-icons close">close</i></a>
					<a class="page-name">Personal info</a>					
				</div>	
				<form id="profile-form">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" name="name">
						<label class="mdl-textfield__label button--icon" for="name">Name</label>
						<span class="mdl-textfield__error">Name is not valid</span>
					</div>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="date" name="dob" placeholder=" ">
						<label class="mdl-textfield__label" for="dob">Date of Birth</label>
					</div>
					<div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<label class="mdl-textfield__label" for="password">Blood Group</label>
						<select class="mdl-textfield__input" name="blood">
							<option value="">Choose your blood group</option>
							<option value="A +ve">A +ve</option>
							<option value="A -ve">A -ve</option>
							<option value="B +ve">B +ve</option>
							<option value="B -ve">B -ve</option>
							<option value="AB +ve">AB +ve</option>
							<option value="AB -ve">AB -ve</option>
							<option value="O +ve">O +ve</option>
							<option value="O -ve">AB -ve</option>
						</select>
					</div>
					<div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<label class="mdl-textfield__label" for="password">Allergies</label>
						<select name="allergies" class="mdl-textfield__input">
							<option value="">Choose allergy type</option>
							<option value="Asthma">Asthma</option>
							<option value="Drug Allergy">Drug Allergy</option>
							<option value="Food Allergy">Food Allergy</option>
							<option value="Skin Allergy">Skin Allergy</option>
							<option value="Nothing">Nothing</option>
						</select>
					</div>
					<input type="submit" value="Submit" class="btn btn-large">	
				</form>
			</div>		
		</div>
	</dialog>
</template>