.emergency{
	.body-blank{
		top: 25%;
		padding: 0 20px;
		@include box-sizing(border-box);
		img{
			margin: 20px auto 0px;
		    width: 110px;
		}
		h5{
			color: #F05253;
		}	
		p{
			word-spacing: 0px;
			margin-top: 30px;
			line-height: 1.3;
			font-size: 13px;
			color: #5f5f5f;
		}
	}
}
@media (max-width: $tablet){
	.emergency{
		.body-blank{
			p{
				text-align: left;
			}
		}
	}
}