<template name="profile">
	{{#if Template.subscriptionsReady}}
	<div class="profile">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
				<img class="member-img"/>
			</div>
			<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--2-col-phone">
				<h4 style="margin: 0;">{{detail.userDetails.profile.name}}</h4>
				<h6 style="margin: 0;">{{detail.username}}</h6>
				<h6 style="margin: 0;">{{detail.emails.[0].address}}</h6>
			</div>
		</div>

		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			<div class="mdl-tabs__tab-bar">
				<a data-modal="editProfile" href="#personal-info-panel" class="mdl-tabs__tab is-active">Personal Info</a>
				<a data-modal="addAddress" href="#address-panel" class="mdl-tabs__tab">Address</a>
				<a href="#activity-panel" class="mdl-tabs__tab">Activity</a>
				<a href="#password-panel" class="mdl-tabs__tab">Change Password</a>
			</div>

			<div class="mdl-tabs__panel is-active" id="personal-info-panel">
				{{> personalInfo}}
				{{> editProfile}}
			</div>

			<div class="mdl-tabs__panel" id="address-panel">
				{{> userAddress}}
				{{> addAddress}}
			</div>

			<div class="mdl-tabs__panel" id="activity-panel">
				<ul>
					<li class="mdl-grid">
						<div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone"> Last Login</div>
						<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--2-col-phone" style="font-weight: bold;">{{detail.status.lastLogin.date}}</div>
					</li>
					<li class="mdl-grid">
						<div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone"> IP Address</div>
						<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--2-col-phone" style="font-weight: bold;">{{detail.status.lastLogin.ipAddr}}</div>
					</li>
					<li class="mdl-grid">
						<div class="message"><!-- You might be logged in on other devices. To sign out from all sessions, --> 
							
						</div>
					</li>
				</ul>
			</div>

			<div class="mdl-tabs__panel" id="password-panel">
				{{> changePassword}}
			</div>
		</div>
	</div>
	{{else}}
	<p>Loading...</p>
	{{/if}}
</template>