.medicine{
	.medicine-form{
		form{
			background-color: #fff;
			.medi-row{
				background: #F9F9F9;
				padding: 12px 18px;
				@include box-sizing(border-box);
				border-radius: 6px;
				margin-top: 14px;
				header{
					font-size: 18px;
					color: #000;
					margin-top: 10px;
					font-weight: bold;
				}
			}
		}
	}
	.medicine-order-detail{
		.order-info{
			border: 1px solid #5f5f5f;
			border-radius: 3px;
			overflow: hidden;
			padding: 15px;
			line-height: 1.3;
			margin-top: 20px;
			h2{
				font-weight: bold;
			}
			h5{
				line-height: 1.6;
			}
			span{
				cursor: pointer;
				margin-top: 14px;
				font-weight: bold;
				color: #0fc0e1;
				border-bottom: 1px solid #0fc0e1;
				padding-bottom: 5px;
				font-size: 18px;
				display: inline-block;
				float: right;
				i{
					margin-right: 10px;
					font-size: 20px;
					vertical-align: middle;
				}
			}
		}
	}
}
.medicine-full-detail{
	padding: 20px;
	.medi-info{
		border-bottom: 1px solid #5f5f5f;
		border-radius: 3px;
		overflow: hidden;
		padding: 15px;
		line-height: 1.3;
		margin-bottom: 20px;
		h6{
			margin: 5px 0 0;
			font-size: 15px !important;
		}	

	}
	.medi-pre{
		img{
			width: 80%;
		}
	}
	.medicine-address-info{
		padding: 15px;
	}
	.medi-add{
		margin-top: 15px;
		float: left;
		h5{
			margin: 5px 0 0;
			font-size: 15px;
		}
	}
}
@media (max-width: $mobile-l){
	.medicine-full-detail{
		.half-field{
			width: 100%;
		}
	}
}