
.header-close{
    height: 56px;
    background-color: $logo-color;
    color: #fff;
    padding: 16px 20px 0;
    @include box-sizing(border-box);
    z-index: 999;
    a{
        vertical-align: middle;
        color: #fff;
        font-size: 18px;
        float: left;
        cursor: pointer;
        &.right{
            margin-top: 5px;
        }
    }
    
}
.page-name{
    margin: 0 0 0 15px;
    font-size: 18px;
    line-height: 1.5;
}


// .mdl-layout__header-row>*{
//     ul{
//         li{
//             float: left;
//             margin: 0 8px;
//         }
//     }
// }
// .mdl-layout__header-row{
//     background-color: $logo-color;
// }

// .mdl-layout__drawer-button{
//     background-color: $logo-color !important;
// }
.mdl-layout__drawer.is-visible {
    background-color: #eee;
    .mdl-navigation{
        padding:0;
    }
    .mdl-navigation__link{
        color: #000 !important;
        border-bottom: 1px solid #fff;
    }
    .mdl-navigation__link .material-icons{
        width: 50px;
    }
    .mdl-layout-title{
        background-color: $logo-color;
        color: #fff;
    }
}

.page-name{
    margin-left: 15px;
}

.mdl-layout__header-row>*{
    ul{
        li{
            float: left;
            margin: 0 8px;
        }
    }
}
.mdl-layout__drawer-button{
    background-color: $logo-color !important;
    outline: none !important;
}
// .mdl-navigation__link .material-icons{
//     width: 50px;
// }
.mdl-layout__drawer .mdl-layout-title{
    height: 140px;
    color: #fff;
    background: url('/images/android-sidebar.jpg') no-repeat center bottom;
    background-size: cover;
    padding-top: 40px;
    h6,h5 {
        line-height: 1;
        margin: 0;
    }
}
.mdl-layout--fixed-header > .mdl-layout__header{
    overflow: hidden;
    z-index: 0;
    display: block !important;
}
.mdl-layout__header .mdl-layout__drawer-button {
    margin: 0;
    line-height: 60px;
}