<template name="emptyRecord">
	<div class="records">
		<div class="body-blank">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 442.003 442.003" style="enable-background:new 0 0 442.003 442.003;" xml:space="preserve">
				<g>
					<path d="M432.001,58.846c-5.522,0-10,4.478-10,10v267.608l-191,30.408v-19.213l164.371-35.222c4.61-0.988,7.904-5.063,7.904-9.778   V31.929c0-3.02-1.365-5.878-3.713-7.776c-2.349-1.898-5.429-2.632-8.383-2.002L221.002,58.618L50.821,22.151   c-2.951-0.629-6.034,0.103-8.382,2.002c-2.349,1.898-3.713,4.757-3.713,7.776v270.72c0,4.716,3.294,8.79,7.905,9.778   l164.371,35.222v19.213l-191-30.408V68.846c0-5.522-4.477-10-10-10s-10,4.478-10,10v276.143c0,4.916,3.573,9.103,8.428,9.876   l211,33.592c0.113,0.018,0.227,0.026,0.34,0.041c0.104,0.013,0.208,0.027,0.313,0.037c0.306,0.028,0.612,0.046,0.919,0.046   c0.307,0,0.613-0.019,0.919-0.046c0.105-0.01,0.208-0.024,0.313-0.037c0.114-0.014,0.228-0.022,0.341-0.041l211-33.592   c4.854-0.773,8.428-4.96,8.428-9.876V68.846C442.001,63.323,437.524,58.846,432.001,58.846z M383.277,294.565l-152.275,32.63V76.93   l152.275-32.631V294.565z M58.726,44.299L211.001,76.93v250.265l-152.276-32.63V44.299z"/>
					<path d="M184.411,118.457L85.684,97.302c-5.402-1.16-10.716,2.283-11.873,7.683c-1.157,5.4,2.282,10.717,7.683,11.874   l98.727,21.155c0.707,0.151,1.411,0.224,2.105,0.224c4.614,0,8.763-3.213,9.768-7.906   C193.25,124.931,189.811,119.614,184.411,118.457z"/>
					<path d="M184.41,186.137L85.165,164.87c-5.398-1.157-10.716,2.283-11.873,7.683c-1.157,5.4,2.282,10.717,7.683,11.874   l99.245,21.267c0.706,0.151,1.411,0.224,2.105,0.224c4.614,0,8.762-3.213,9.768-7.906   C193.25,192.611,189.811,187.294,184.41,186.137z"/>
					<path d="M184.41,253.817l-99.764-21.378c-5.397-1.155-10.716,2.282-11.873,7.683s2.282,10.717,7.683,11.874l99.764,21.378   c0.706,0.151,1.411,0.224,2.105,0.224c4.614,0,8.762-3.213,9.768-7.906C193.249,260.29,189.81,254.974,184.41,253.817z"/>
					<path d="M259.677,138.237c0.694,0,1.399-0.072,2.105-0.224l98.727-21.155c5.399-1.157,8.84-6.474,7.683-11.874   c-1.157-5.399-6.476-8.843-11.874-7.683l-98.727,21.155c-5.399,1.157-8.84,6.474-7.683,11.874   C250.915,135.025,255.063,138.237,259.677,138.237z"/>
					<path d="M356.837,164.87l-99.245,21.267c-5.399,1.157-8.84,6.474-7.683,11.874c1.006,4.693,5.154,7.906,9.769,7.906   c0.694,0,1.399-0.072,2.105-0.224l99.245-21.267c5.399-1.157,8.84-6.474,7.683-11.874   C367.554,167.153,362.235,163.713,356.837,164.87z"/>
					<path d="M356.837,232.55l-99.245,21.267c-5.399,1.157-8.84,6.474-7.683,11.874c1.006,4.693,5.154,7.906,9.769,7.906   c0.694,0,1.399-0.072,2.105-0.224l99.245-21.267c5.399-1.157,8.84-6.474,7.683-11.874S362.235,231.396,356.837,232.55z"/>
					<path d="M430.429,366.605l-209.428,33.343L11.574,366.605c-5.453-0.857-10.58,2.849-11.448,8.304   c-0.869,5.454,2.849,10.579,8.303,11.448l211,33.593c0.521,0.083,1.046,0.124,1.572,0.124s1.052-0.041,1.572-0.124l211-33.593   c5.454-0.869,9.172-5.994,8.304-11.448C441.008,369.455,435.893,365.748,430.429,366.605z"/>
				</g>
			</svg>
			<h5 class="display-4">Oops, Seems like you have no <br>
				saved health records yet
			</h5>					
		</div>
	</div>	
</template>