<template name="record">
	{{#if Template.subscriptionsReady}}
	<div class="records">
		<div class="add-record">
			{{#if record}}
			{{> records}}
			{{else}}
			{{> emptyRecord}}
			{{/if}}
			{{> options}}
			<div class="show-dialog">
				<button id="options" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"><i class="material-icons">add</i></button>
			</div>
			{{> recordUpload}}
			{{> recordValues}}
			{{> recordDetails}}
		</div>
	</div>
	{{else}}
	Loading....
	{{/if}}
</template>