<template name="welcome">
	<div class="start-page login">
		<h5>Join us and simply chat with CareBuddy</h5>
		<a style="width: 180px;" href="/login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Proceed</a>
		{{#unless cordova}}
		<h5>Get it on</h5>
		<a style="text-align: center;" href='https://play.google.com/store/apps/details?id=co.carebuddy.app&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-ap-PartBadge-Mar2515-1'><img style="width: 210px;" alt='Get it on Google Play' src="/images/google-play-badge.png"/></a>
		{{/unless}}
	</div>
</template>