<template name="options">
	<ul class="btn-fab">
		<li>
			<button id="photo" href="#" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"><i class="material-icons">attach_file</i></button>
		</li>
		<li>
			<button id="value" href="#" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"><i class="material-icons">list</i></button>
		</li>
	</ul>
</template>