<template name="members">
	{{#if Template.subscriptionsReady}}
	<div class="mdl-grid">
		{{#if allMembers}}
		{{#each allMembers}}
		<div class="col mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--4-col-tablet">
			<div class="demo-card-square mdl-card mdl-shadow--2dp ">
				<div class="mdl-card__title mdl-card--expand">
					<h2 class="mdl-card__title-text">{{this.type}}</h2>
				</div>
				<div class="mdl-card__supporting-text">
					{{this.name}}<br>
					Phone-no.: {{this.phone}}<br>
					Added: {{this.added}}
				</div>
			</div>
		</div>
		{{/each}}
		{{else}}
		{{> memberBlank}}
		{{/if}}
	</div>
	<button type="button" class="show-members-modal mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--mini-fab"><i class="material-icons">add</i></button>
	{{else}}
	<p>Loading...</p>
	{{/if}}
</template>