<template name="dashLayout">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		{{> nav}}
		{{> sidenav}}
		<main class="mdl-layout__content">
			<div class="page-content">
				{{> Template.dynamic template=template}}
				{{> Template.dynamic template=dialog}}
			</div>
		</main>
		{{> toast}}
		{{> meteorStatus style=true lang='en' position='top' overlay=true}}
	</div>
</template>